build_Debug
build_Release
*.user

*makefile*
*Makefile*

*.o

*.stash

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/moc_control_object.cpp

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/moc_device_ultrasound.cpp

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/moc_eplugins_manager.cpp

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/UltrasoundBox.app/Contents/MacOS/UltrasoundBox

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/UltrasoundBox.app/Contents/PkgInfo

*.plist

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/qrc_qml.cpp

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/moc_virtual_box.cpp

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/virtual_box.moc

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/moc_ultrasound.cpp

build-UltrasoundBox-Desktop_Qt_5_7_0_clang_64bit-Debug/UltrasoundBox.app/Contents/Resources/empty.lproj
